.help-container {
    flex-grow: 1;
    padding: 20px;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

.help-container h1 {
    margin-bottom: 20px;
}

.help-container h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.help-container p, .help-container ul {
    line-height: 1.6;
}

.help-container ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.help-container li {
    margin-bottom: 10px;
}